# Ignore environment variables everywhere
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
venv/
env/

# Ignore Node.js dependencies
node_modules/
dist/

backend/hackwins-mind-flayers-firebase-adminsdk-fbsvc-ccc4812dec.json
# Ignore ALL Firebase Service Account JSON keys
*-firebase-adminsdk-*.json
hackwins-mind-flayers-firebase-adminsdk-fbsvc-ccc4812dec.json